site:
  title: OCS Standard Operating Procedures 
  url: https://red-hat-storage.github.io/ocs-sop
  start_page: sop::index.adoc
  robots: allow
content:
  sources:
  #- url: https://github.com/red-hat-storage/ocs-sop.git
  - url: .
    branches: [HEAD]
    start_paths: [sop]
    edit_url: '{web_url}/edit/{refname}/{path}'

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/master/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ui
# output:
  # clean: true
  # dir: ./site
